/* desktop view */
html, body {
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

@font-face {
    font-family: EffectsEighty;
    src: url("../fonts/effects-eighty.otf") format("opentype");
}

a {
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(0,0,0,0.8);
  color: rgb(72, 254, 30); /* thatsa lime green */
  font-family: EffectsEighty;
  font-size: 18px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  padding-left: 50px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  z-index:-1;

  /*Fallback if gradeints don't work */
  background: #9b59b6;
  /*Linear gradient... */
  background:
    radial-gradient(
    at center, #ffffff, #ffffff
  );
}

/* mobile view */
@media only screen and (max-device-width: 480px) {
  .modal-content {
    width: 80%;
  }

  #aboutButton img {
    width: 150px;
    height: auto;
    position: absolute;
    right: 170px;
    top: 0px;
  }

}
